# /etc/default/cm4lcd_pretty (example)
# REQUIRED: Tested on Raspberry Pi OS / Debian BOOKWORM only.
NAS_MOUNT=/srv/nas
LCD_ROTATE=90
LCD_TITLE=CM4-NAS
# Path to Waveshare demo root that contains: lib/LCD_2inch.py
LCD_LIB_DIR=/home/sysop/CM4-NAS-Double-Deck_Demo/RaspberryPi

# Optional tweaks
CPU_Y_SHIFT=1          # vertical offset (px) for CPU/RAM/Temp/Uptime/RAID/Net block
LCD_BL_PIN=18          # backlight GPIO (BCM)
